/* STYLE CONFIGRUATIONS FOR THREE.JS GRAPHICS */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures that Three.js graphics on the canvas is behind all other content! */
}

#ulnavbar, header, #aboutme, main, footer {
  position: relative;
  z-index: 1; /* Ensures that the navbar, header, 'about me', main, and footer sections are in front of the canvas */
  background-color: rgba(255, 199, 245, 0.9); /* Cool 'faded' effect for Three.js graphics by making background in front of the canvas transparent! */
}

/* STYLE SECTIONING TAGS */

*{
  margin: 0px;
  padding: 0px;
  font-family: Merienda,'Rubik 80s Fade';
}

h5 {
  padding: 3%;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  animation: fadeIn 2s;
}

body {
 background-color: #ffc7f5; 
  text-align: center;
  cursor: url("assets/flowercursor.png"), auto;
}

button {
 font-size: 120%;
}

.welcome {
  color: #43203b;
  animation: fadeIn 2s;
  padding-top: .5%;
  padding-bottom: 1%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes highlightImage {
  0% {
    border-color: white;
  }
100% {
    border-color: #f85fe6;
  }
}

@keyframes highlightAshley {
  0% {
    border-color: white;
  }
100% {
    border-color: #000000;
  }
}

@keyframes changeFontColor {
  0% {
    color: white;
  }
100% {
    color: #f85fe6;
  }
}

.othertext {
  animation: fadeIn 2s;
}

.explore {
  padding-bottom: 1px;
  animation: fadeIn 2s;
  font-family:'Courier New', Courier, monospace;
}

/* STYLE TEXT */
h1 {
  color: #472543;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  color: #000000;
  text-align: center;
  font-size: 20px;
}

main {
  margin-top: .5%;
  margin-bottom: .5%;
}

/* STYLE IMAGES */
img {
  max-width: 50%;
  border-radius: 15%;
  border: 3px solid white;
  margin-bottom: 1em;
  margin-left: 1%;
  margin-right: 1%;
}



/* INDEX.HTML */

/* Index.HTML Images */
#mylinkedin:hover {
  transform: scale(1.2);
  animation-name: logo-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#myartshop:hover {
  transform: scale(1.2);
  animation-name: logo-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#carvr:hover {
  transform: scale(1.2);
  animation-name: logo-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#icxr:hover {
  transform: scale(1.2);
  animation-name: logo-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#mygithub:hover {
  transform: scale(1.2);
  animation-name: logo-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.ashley {
  margin: 2%;
}
.ashley:hover {
  animation: highlightAshley 500ms forwards;
}

/* Index.HTML Buttons */
#enterbutton {
  background-color: #ff8afd;
  border: dashed;
  color: "white";
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  cursor: url("assets/vrcursor.png"), auto;
  position: absolute;
  top: 12%;
  left: 45%;
  z-index: 1;
}

/* Index.HTML "About Me" */
#aboutme {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 3%;
}

#aboutme h3 {
  font-family: 'Courier New', Courier, monospace;
}

#aboutme p {
  padding-top: 1%;
  font-family: 'Courier New', Courier, monospace;
}

#aboutme a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; /* get rid of hyperlink underline */
  font-family: inherit;
}

#aboutme a:hover {
  text-decoration: underline; /* hyperlink underline while hovering */
}



/* PORTFOLIO.HTML */

/* Portfolio.HTML Images */
.artwork {
  border-radius: 25px;
  position: relative;
  z-index: 2;
  width: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
}

.artwork:hover {
    transform: scale(1.05);
    animation: highlightImage 500ms forwards;
}

/* Portfolio.HTML Text */
.description {
  flex: 1;
  text-align: center;
  margin-bottom: 5%; /* space between description and buttons */
  width: 100%;
}

/* Portfolio.HTML Buttons */
.info-button {
  background-color: #ffc7f5;
  color: white;
  padding: 10px 20px; /* text padding for top/bottom, left/right */
  border: none; /* no button border */
  border-radius: 5px; /* rounded button corners */
  cursor: pointer; /* "click mouse" style cursor on hover */
  transition: background-color 0.35s; /* hover color transition */
  margin-right: 3%; /* button padding */
  margin-left: 5%;
  margin-bottom: 5%;
}

.info-button:hover {
  background-color: #f85fe6; /* color changes when hovering */
}

.checkoutmore {
  text-align: center;
  margin-top: 1em; /* space between description and buttons */
  width: 100%;
}

#moreart a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; /* get rid of hyperlink underline */
  font-family: inherit;
}

#moreart a:hover {
  text-decoration: underline; /* hyperlink underline while hovering */
}



/* PROJECTS.HTML (uses same .imagecontainer, but alternative to .description and .artwork) */

/* Projects.HTML Images */
.projects {
  border-radius: 25px;
  position: relative;
  z-index: 2;
  width: 70%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.projects:hover {
  transform: scale(1.05);
  animation: highlightImage 500ms forwards;
}


/* Projects.HTML title text*/
.projecttitle {
  padding-top: 7%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  margin: 10px;
}

/* Projects.HTML text*/
.projectdescription {
  flex: 1;
  margin: 10%;
  text-align: center;
}



/* STYLE NAV BAR */
ul {
  list-style-type: none;
  background-color: #ffc7f5;
  overflow: hidden;
  padding: 1em;
  
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  animation: changeFontColor 500ms forwards;
}

.portfoliosection {
  margin-top: 15%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
}


/* DESIGN CONSIDERATIONS */ 

/* Vector graphic (pink curves) for Portfolio.html and Projects.html */
.pinkcurve {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.pinkcurve svg {
  position: relative;
  z-index: 1;
  display: block;
  width: calc(110% + 1.3px);
  height: 89px;
} 

.pinkcurve .shape-fill {
  fill: #ffc7f5;
}


/* Alternating (left and right) containers */
.overallcontainer {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: center; /* horizontal alignment */
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.overallcontainer:nth-child(odd) {
  flex-direction: row;
}

.overallcontainer:nth-child(even) {
  flex-direction: row-reverse;
}

.textcontainer { /* for the button AND description */
  display: flex-start; /* enables buttons to align in a row */
  flex-direction: column; /* stack verticall */
  align-items: start; /* alignment starts at left side */
  margin-bottom: 3%;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%; /* enables button row to take up more space than length of description */
}

.buttoncontainer a {
  text-decoration: none; /* Removes the underline from the link */
  font-size: 120%;
}

/* Specifications for smaller displays */
@media screen and (max-width: 800px) { /* design for smaller screens */
  .contentcontainer {
      flex-direction: column;
      text-align: center;
  }

  .artwork {
      width: 100%;
      margin-bottom: 10px;
  }

  .description {
    text-align: center;
}

  .projects {
    width: 100%;
    margin-bottom: 10px;
}

.projectdescription {
  text-align: center;
}
}